#experience {
  background-color: #edf0f1;
  height: 90%;
  display: flex;
  align-items: center;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: -40px;
}

#video {
  border-radius: 10px;
}

.experience-vid {
  height: 470px;
}

.experience-txt {
  flex: 1;
  margin-right: 50px;
  border-radius: 10px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}


#exp-txt-body {
  font-family: 'Poppins', sans-serif;
  text-align: justify;
  line-height: 55px;
  font-weight: 300;
  font-size: 26px;
  color: black;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.exp-highlight {
  color:rgb(246, 175, 37);
  font-weight: 600;
}

@media (max-width: 1400px) {
  #exp-txt-body {
    font-size: 20px;
  }
}

@media (max-width: 1400px) {
  #video {
    width: 540px;
    height: 415px;
  }

  .experience-txt {
    padding-top: 0;
  }
}

@media (max-width: 1200px) {
  #exp-txt-body {
    line-height: 40px;
  }
}

@media (max-width: 1100px) {
  #exp-txt-body {
    line-height: 30px;
  }
}

@media (max-width: 1050px) {
  #exp-txt-body {
    font-size: 20px;
  }
}

@media (max-width: 950px) {
  #exp-txt-body {
    font-size: 15px;
    line-height: 25px;
    padding-top: 0;
  }
  

  #video {
    width: 440px;
    height: 315px;
  }

  #experience {
    height: 70%;
  }
  .experience-vid {
    margin-top: 140px;
  }
  
}

