#gallery-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 12px;
  height: 75%;
  row-gap: 8px;
  column-gap: 8px;
}

#moalboal {
  height: 100%;
  background-image: url("../images/moalboal.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 10px;
}

#pulag {
  height: 100%;
  background-image: url("../images/pulag.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 10px;
}

#anda {
  height: 100%;
  background-image: url("../images/anda.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 10px;
}

#baguio {
  height: 100%;
  background-image: url("../images/baguio.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 10px;
}

#bislig {
  height: 100%;
  background-image: url("../images/bislig.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 10px;
}

#camiguin {
  height: 100%;
  background-image: url("../images/camiguin.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 10px;
}

#taboc {
  height: 100%;
  background-image: url("../images/taboc.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 10px;
}

#coron {
  height: 100%;
  background-image: url("../images/coron.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 10px;
}




.gallery-pic-txt {
  margin-bottom: 9px;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  color: white;
  font-weight: 400;
}

@media (max-width: 950px) {
  #gallery-grid {
    grid-template-columns: 1fr 1fr;
  }
}


